# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH

---

# The global properties are used to configure multiple charts at once.
global:
  # -- Container registry address.
  imageRegistry: "gitregistry.knut.univention.de"
  # -- Define an ImagePullPolicy.
  imagePullPolicy: ""
  # -- Credentials to fetch images from private registry.
  imagePullSecrets: []

# -- Additional custom annotations to add to all deployed objects.
additionalAnnotations: {}

# -- Additional custom labels to add to all deployed objects.
additionalLabels: {}

# -- Array with extra environment variables to add to containers.
#
# extraEnvVars:
#   - name: FOO
#     value: "bar"
extraEnvVars: []

# -- Provide a name to substitute for the full names of resources.
fullnameOverride: ""

# Container image section.
image:
  pullPolicy: ""
  pullSecrets: []
  registry: ""
  repository: "univention/customers/dataport/upx/container-listener-base/listener-base-debug"
  tag: "latest"
  # -- Define image sha256 as an alternative to `tag`
  sha256: null

# -- Credentials to fetch images from private registry.
imagePullSecrets: []

listenerBase:
  environment: "production"
  # -- CA root certificate, base64-encoded. Optional; will be written to "caCertFile" if set.
  caCert: "/var/secrets/ca_cert"
  # -- Where to search for the CA Certificate file.
  # caCertFile: "/var/secrets/ca_cert"
  caCertFile: ""
  debugLevel: "4"
  ldapBaseDn: null
  # -- LDAP password for `cn=admin`. Will be written to "ldapPasswordFile" if set.
  ldapPassword: null
  # -- The path to the "ldapPasswordFile" docker secret or a plain file
  ldapPasswordFile: "/var/secrets/ldap_secret"
  ldapHost: "ucs-machine"
  ldapHostDn: null
  # -- Will add a mapping from "ldapHost" to "ldapHostIp" into "/etc/hosts" if set
  ldapHostIp: null
  ldapPort: "389"
  # -- Defaults to "ldapHost" if not set.
  notifierServer: null
  # -- Whether to start encryption and validate certificates.
  # Chose from "off", "unvalidated" and "secure".
  tlsMode: "secure"

# -- Provide a name in place of the chart name for `app:` labels.
nameOverride: ""

# -- Annotations to add to the pod.
podAnnotations: {}

# -- Security context for the pod.
podSecurityContext: {}

replicaCount: 1

autoscaling:
  enabled: false

# -- Resource limits and requests for the container.
resources: {}

# -- Security context for the container.
securityContext: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

nodeSelector: {}

tolerations: []

affinity: {}

...
