# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2026 Univention GmbH

---

services:
  listener:
    extra_hosts:
      {{ ansible_fqdn }}: "{{ ansible_host }}"
    environment:
      LDAP_HOST: "{{ ansible_fqdn }}"
      LDAP_BASE_DN: "{{ ldap_base.stdout }}"
      NOTIFIER_SERVER: "{{ ansible_fqdn }}"
...
