listener_base:
  ca_cert: "{{ ca_cert.content }}"
  auth_ldap_secret: "{{ ldap_secret.content }}"
  ldapHost: "{{ ansible_fqdn }}"
  ldapHostIp: "{{ ansible_host }}"
  ldapHostDn: "{{ ldap_hostdn.stdout }}"
  ldap_tls_reqcert: "never"
