# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH

---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ include "common.names.fullname" . | quote }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- include "nubus-common.annotations.render" ( dict
    "values" ( list .Values.additionalAnnotations )
    "context" . )
    | nindent 2 }}
data:
  CA_CERT: {{ .Values.listenerBase.caCert | quote }}
  CA_CERT_FILE: {{ .Values.listenerBase.caCertFile | quote }}
  DEBUG_LEVEL: {{ .Values.listenerBase.debugLevel | quote }}
  ENVIRONMENT: {{ .Values.listenerBase.environment | quote }}
  LDAP_BASE_DN: {{ .Values.listenerBase.ldapBaseDn | quote }}
  LDAP_PASSWORD: {{ .Values.listenerBase.ldapPassword | quote }}
  LDAP_PASSWORD_FILE: {{ .Values.listenerBase.ldapPasswordFile | quote }}
  LDAP_HOST: {{ .Values.listenerBase.ldapHost | quote }}
  LDAP_HOST_DN: {{ .Values.listenerBase.ldapHostDn | quote }}
  LDAP_PORT: {{ .Values.listenerBase.ldapPort | quote }}
  NOTIFIER_SERVER: {{ default .Values.listenerBase.ldapHost .Values.listenerBase.notifierServer | quote }}
  TLS_MODE: {{ .Values.listenerBase.tlsMode | quote }}
...
