# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH


{{- if .Values.serviceAccount.create -}}
---

apiVersion: "v1"
kind: "ServiceAccount"
metadata:
  name: '{{ include "common.names.fullname" . }}'
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- include "nubus-common.annotations.render" ( dict
    "values" ( list .Values.serviceAccount.annotations .Values.additionalAnnotations )
    "context" . )
    | nindent 2 }}

...
{{- end }}
